@media(max-width: 1025px){
    .container{
      flex-basis: 95%;
  }
  }
  
  @media (max-width: 990px){
    .container{
        flex-basis: 95%;
        display: flex;
    }
    .logo_section{
        display: none;
    }
    .form_section{
        flex-basis: 100%;
      }
      .form_inner{
        padding: 0px;
      }
      
      
  }


  @media(max-width: 870px){
    .candidates_info{
        grid-template-columns: repeat(1,1fr);
      }
      
  }